/*header section*/

.bar {
  position: fixed;
  z-index: 1999;
  top: 0;
  height: 5rem;
  width: 100%;
  background-color: transparent;
  padding: 1rem;
  transition: all 0.3s ease;
  transition-delay: initial;
  height: 4rem;
}

.shrink {
  display: block;
  height: 4rem !important;
  background-color: #110046;
}

.shrink img.logo-horizontal {
  width: 10rem;
}

.shrink form.nav-form {
  width: auto;
  display: inline-block;
}

img.logo-horizontal {
  width: 0;
  transition: all .5s ease;
  background-color: transparent;
}

form.nav-form {
  text-align: right;
  display: none;
  margin: 0;
  float: right;
  width: 0;
}

input[type=text].nav-search-inputtext {
  width: 11rem;
  padding: 10px 20px;
  border-color: #2b00f7;
  box-sizing: border-box;
  display: inline-block;
  transition: all .5s ease;
}

input[type=submit].nav-search-inputtext {
    width: 7rem;
    padding: 12px 20px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #2b00f7;
    border: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

div.jumbotron-container {
  background-color: white;
  overflow: hidden;
  z-index: 50;
  height: 100vh;
}

div.landing-jumbotron {
  background: url(../images/fondo-home.png) no-repeat center center #102026;
  height: auto;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: lighten;
}

div.landing-header-content {
  padding: 4rem;
  width: 75%;
  text-align: center;
  margin: auto;
}

img.logo {
  height: 8rem;
  width: auto;
  vertical-align: middle;
}

img.name {
  width: 25rem;
  vertical-align: middle;
  margin-left: 1rem;
}

div.landing-header-content h1 {
  display: inline-block;
  margin-left: 1rem;
  font-size: 4rem;
}

div.landing-header-content p {
  display: inline-block;
  margin: 7% auto 7% auto;
  font-size: 1.5rem;
  color: #5c5c5c;
  text-align: justify;
}

div.landing-search {
  text-align: left;
}

div.landing-search p:first-child {
  font-size: 1.2rem;
  color: #2d1c9d;
  margin: .5rem auto 1rem auto;
}

div.landing-search p {
  font-size: .8rem;
  color: #2d1c9d;
  margin: 1rem auto 1rem auto;
}

input[type=text].landing-search-inputtext {
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
    display: inline-block;
    border-color: #2b00f7;
}

input[type=submit].landing-search-inputtext {
    width: 15%;
    padding: 14px 20px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #2b00f7;
    border: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

/*explore data section*/

div.explore-card {
  height: 24rem;
  width: 20rem;
}

div.card-pad h3, div.card-pad h4 {
  color: #2b00f7;
  font-family: monospace;
}

div.card-pad h3 {
  font-size: 2rem;
  margin-bottom: .2rem;
}

div.card-pad h4 {
  font-size: 1.5rem;
  margin-bottom: .7rem;
}

.serif-gray {
  font-family: serif;
  color: #5c5c5c;
}

/* Data source styles */
section.data-sources {
  background-color: #f7f7f7;
}

.data-sources h2 {
  color: #150b58;
}
img.sources-icons {
  width: 10rem;
}

.triplet-wrapper {
  position: relative;
  height: 24rem;
  padding: 2rem;
}
.triplet {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin: 1.5rem auto;
  color: #150b58;
}

.triplet-text {
  text-align: justify;
  color: 	#686868;
}

.triplet-last-update {
  font-size: .7rem;
  color: #808080;
  text-align: left;
  position: absolute;
  bottom: 0;
}
/*Proyecto styles*/

section.proyectos {
  /* background-color: #21018b; */
  background-color: #110046;
}

.proyectos h2 {
  color: #fff;
}

div.proyecto {
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

div.proyecto img {
  width: 90%;
}

div.proyecto p {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem 0 0;
  top: 15%;
  font-size: 1.3rem;
}

.proyecto-info {
  position: absolute;
}

.proyecto button {
  bottom: 30px;
  right: 30px;
}

/*contacto section*/

.contacto-text {
  width: 80%;
  margin: 2rem auto 3rem auto;
  text-align: center;
}

.contacto-text p {
  display: inline-block;
  color: #3a32f9;
  font-family: monospace;
  font-size: 2rem;
  /*margin-right: 3rem;*/

}

.contacto-text button {
  vertical-align: super;
  margin-top: 1.5rem;
  margin-left: 2rem;
  background-color: #21018b;
}

/*investigaciones section*/

section.investigaciones {
  background-color: #f7f7f7;
  border-top: 2px dotted #3a32f9;
  border-bottom: 2px dotted #3a32f9;
}

.investigaciones h2 {
  color: #150b58;
}

.investigaciones-p {
  color: #2d1c9d;
}

div.investigaciones-card {
  width: 100%;
  height: 17rem;
}

div.investigaciones-card img {
  height: auto;
}

.investigaciones p {
  font-size: 1rem;
}


/*footer*/

footer {
  background-color: #21018b;
  padding: 3rem 0 3rem 5rem;
}

footer p {
  color: #fff;
  line-height: 1.5rem;
}

footer p:first-child {
  margin-top: 2rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer img {
  margin-top: 1rem;
  margin-right: 1rem;
}


/*Card styles*/

.card {
  border-width: 2px;
  border-style: dotted;
  border-color: #3a32f9;
  position: relative;
}

.card-pad {
  padding: 1rem;
}

.card-pad-ext {
  padding: 1rem 1rem 1rem 0;
}

.card-pad button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}


.card-image {
  display: inline-block;
  width: 100%;
  height: 11rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*tab section*/

section.tabs {
  margin-top: 2rem;
  min-height: 100vh;
}

section.tabs h3 {
  font-size: 1.5rem;
  color: #3a32f9;
  margin-bottom: 2rem;
}

p.capitalize-style {
  text-transform: uppercase;
  color: #21018b;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

section.tabs h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}


.box {
  margin-bottom: 1rem;
}

/*tab styles*/


/* Style the tab */
div.tab {
    overflow: hidden;
    border: 2px dotted #3a32f9;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 2rem 1rem;
    border: 2px dotted #3a32f9;
    border-top: none;
}


/* General styles */

* {
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* for template pages */
div.body-content {
  margin-top: 3rem;
  padding: 2rem;
}
div.document-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}
h2.document-title {
  color: #21018b;
  font-size: 2rem;
  margin: 0;
}

p.document-description {
  padding: 1rem 0;
  font-size: .8rem;
  color: #585858;
}

.filter-bar {
  background-color: #F7F7F7;
  border-color: #9C9C9C;
  border-width: 1px;
  border-style: solid;
  margin: 0 1rem 1rem 0;
  font-size: .8rem;
  padding: 1rem;
}

.search-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #21018b;
  margin-top: 1rem;
  margin-bottom: .5rem;
  line-height: 1.1rem;
}

form.filter-form input[type="text"] {
  padding: 5px;
  width: 85%;
  margin-right: 5px;
  border-color: #D3D3D3;
  border-style: solid;
  border-width: 1px;
}

form.filter-form input[type="date"] {
  padding: 5px 5px 5px 25px;
  width: 85%;
  background-image: url('../images/calendar.png');
  background-repeat: no-repeat;
  background-position: 6px;
  border-width: 1px;
  border-color: #D3D3D3;
  border-style: solid;
}

input[type="date"]::placeholder {
  text-transform: uppercase;
  color: red;
}

::placeholder {
  text-transform: uppercase;
}
form.filter-form input[type="text"].search-amount {
  width: 30%;
  display: inline-block;
  margin-top: 1rem;
}

select.search-select {
  height: 34px;
  font-size: .8rem;
  text-transform: uppercase;
  color: 	#808080;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
}
.form-control {
  height: 25px;
  vertical-align: middle;
}
.selected-block {
  margin-bottom: .8rem;
}
.selected-form-text {
  color: #9C9C9C;
  width: 85%;
  display: inline-block;
  margin-right: 5px;
}

.search-label {
  color: #9C9C9C;
  text-transform: uppercase;
  margin-bottom: .3rem;
  margin-top: .8rem;
  line-height: 1.2rem;
}

.selected-form-text p {
  display: inline-block;
  word-wrap: break-word;
  vertical-align: middle;
}

fieldset {
  margin-bottom: 1rem;
}

input[type="submit"].search-submit {
  background-color: #21018b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 2px 2px 7px grey;
}

/* search results */

p.search-terms-text {
  font-size: .9rem;
  font-weight: bold;
  color: #21018b;
  line-height: 1.8rem;
}

p.search-terms-text span {
  color: #fff;
  background-color: #21018b;
  border-radius: 7px;
  font-weight: 300;
  padding: .2rem .5rem .2rem .7rem;
  margin-right: .2rem;
}

div.search-card {
  border-bottom: 1px dashed #4d29ff;
  padding: 1.5rem 0;
}

.search-results-header {
  display: flex;
  align-items: center;
}
.search-result-title {
  font-weight: bold;
  color: #5c5c5c;
}

.search-result-emph {
  color: #2900f5;
  font-family: monospace;
  font-size: 2.5rem;
}

.search-result-emph-complementary {
  color: #2900f5;
  font-family: monospace;
  font-size: 1.3rem;
}

.search-result-mono-gray {
  font-family: monospace;
  color: #bebfc1;
  font-size: 1rem;
  display: inline-block;
}

a.see-contract {
  padding: .5rem 1rem;
  background-color: #2900f5;
  color: white;
  font-weight: bold;
  text-decoration: none;

}

.search-results-last-row {
  margin-top: 1.5rem;
}
/* Custom re-usable styles */

div.content {
  display: block;
  margin: auto;
  width: 85%;
}


.block {
  display: block;
  margin: auto;
  content: "";
  width: auto;
}

.button-link {
  background-color: #2b00f7;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 14px 14px;
}

.centered {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

hr {
  background-color: #999; height: 1px; border: 0;
  margin-bottom: 2rem;
}
/* Responsive Grid Styles */

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
}
@media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}
@media only screen and (min-width: 1300px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* Custom breakpoints */

@media only screen and (max-width: 1160px) {
  div.explore-card {
    width: 100%;
  }
  .proyecto-info {
    position: relative;
  }
  .proyecto button {
    width: 100%;
    bottom: 0;
    right: 0;
  }
}

@media only screen and (max-width: 1042px) {
  input[type=text].landing-search-inputtext {
    width: 70%;
  }
  input[type=submit].landing-search-inputtext {
    width: auto;
  }
  div.explore-card {
    height: 14rem;
  }
  .card-image {
    display: none;
  }
  .contacto button {
    margin-left: auto;
  }
  .explore-card button {
    width: 85%;
  }

  .investigaciones .card p {
    font-size: 1.2rem;
  }
}


@media only screen and (max-width: 870px) {
  .explore-card.button-link {
    padding: 9px;
    font-size: .7rem;
  }
  div.landing-header-content {
    /*padding: 4rem;*/
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .explore-card.button-link {
    color: #2b00f7;
    background-color: #fff;
  }

  div.investigaciones-card {
    height: 14rem;
  }

}


@media only screen and (max-width: 768px) {
  .explore-card.button-link {
    color: #fff;
    background-color: #2b00f7;
    padding: 14px 14px;
    font-size: .9rem;
  }
  div.proyecto img {
    width: 15rem;
    display: block;
    margin: auto;
  }

  .explore-card {
    height: 10rem;
  }
  .explore-card button {
    width: auto;
  }
  .card-pad {
    padding: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  div.landing-header-content p {
    font-size: 1.2rem;
    text-align: left;
  }
  div.content {
    width: 95%;
  }
  div.card-pad h3 {
    font-size: 2rem;
    -webkit-margin-before: .2rem;
    -webkit-margin-after: .2rem;
  }
  div.investigaciones-card {
    height: 10rem;
  }

  div.landing-header-content {
    padding: 0;
  }
  img.name {
    width: 100%;
    margin-left: 0;
  }
  .shrink img.logo-horizontal {
    width: 7rem;
    margin-top: 1ยก.7rem;
  }

  input[type=text].nav-search-inputtext {
    width: 7rem;
    padding: 10px 10px;
    border-color: #2b00f7;
  }

  input[type=submit].nav-search-inputtext {
      width: 5rem;
      padding: 11px 6px;
  }

}
