/*header section*/



.bar {
  position: fixed;
  z-index: 1999;
  top: 0;
  height: 5rem;
  width: 100%;
  background-color: transparent;
  padding: 1rem;
  transition: all 0.3s ease;
  transition-delay: initial;
  height: 4rem;
}

.shrink {
  display: block;
  height: 4rem !important;
  background-color: #110046;
}

.shrink img.logo-horizontal {
  width: 10rem;
}


img.logo-horizontal {
  width: 12rem;
  transition: all .5s ease;
}

div.jumbotron-container {
  background-color: white;
  overflow: hidden;
  z-index: 50;
  height: 100vh;
}

div.landing-jumbotron {
  background: url(../images/fondo-home.png) no-repeat center center #102026;
  height: auto;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: lighten;
}

div.landing-header-content {
  padding: 4rem;
  width: 75%;
  text-align: center;
  margin: auto;
}

img.logo {
  height: 8rem;
  width: auto;
  vertical-align: middle;
}

img.name {
  width: 25rem;
  vertical-align: middle;
  margin-left: 1rem;
}

div.landing-header-content h1 {
  display: inline-block;
  margin-left: 1rem;
  font-size: 4rem;
}

div.landing-header-content p {
  display: inline-block;
  margin: 4rem auto 5rem auto;
  font-size: 1.5rem;
  color: #5c5c5c;
  text-align: justify;
}

div.landing-search {
  text-align: left;
}

div.landing-search p:first-child {
  font-size: 1.2rem;
  color: #2d1c9d;
  margin: 1rem auto 1rem auto;
}

div.landing-search p {
  font-size: .8rem;
  color: #2d1c9d;
  margin: 1rem auto 1rem auto;
}

input[type=text].landing-search-inputtext {
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
    display: inline-block;
    border-color: #2b00f7;
}

input[type=submit].landing-search-inputtext {
    width: 15%;
    padding: 14px 20px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #2b00f7;
    border: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

/*explore data section*/

div.explore-card {
  height: 24rem;
  width: 20rem;
}

div.card-pad h3, div.card-pad h4 {
  color: #2b00f7;
  font-family: monospace;
}

div.card-pad h3 {
  font-size: 2rem;
  margin-bottom: .2rem;
}

div.card-pad h4 {
  font-size: 1.5rem;
  margin-bottom: .7rem;
}

.serif-gray {
  font-family: serif;
  color: #5c5c5c;
}

/*Proyecto styles*/

section.proyectos {
  background-color: #21018b;
}

.proyectos h2 {
  color: #fff;
}

div.proyecto {
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

div.proyecto img {
  width: 90%;
}

div.proyecto p {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem 0 0;
  top: 15%;
  font-size: 1.3rem;
}

.proyecto-info {
  position: absolute;
}

.proyecto button {
  bottom: 30px;
  right: 30px;
}

/*contacto section*/

.contacto-text {
  width: 80%;
  margin: 2rem auto 3rem auto;
  text-align: center;
}

.contacto-text p {
  display: inline-block;
  color: #3a32f9;
  font-family: monospace;
  font-size: 2rem;
  /*margin-right: 3rem;*/

}

.contacto-text button {
  vertical-align: super;
  margin-top: 1.5rem;
  margin-left: 2rem;
  background-color: #21018b;
}

/*investigaciones section*/

section.investigaciones {
  background-color: #f7f7f7;
  border-top: 2px dotted #3a32f9;
  border-bottom: 2px dotted #3a32f9;
}

.investigaciones h2 {
  color: #150b58;
}

.investigaciones-p {
  color: #2d1c9d;
}

div.investigaciones-card {
  width: 100%;
  height: 17rem;
}

div.investigaciones-card img {
  height: auto;
}

.investigaciones p {
  font-size: 1rem;
}

/*footer*/

footer {
  background-color: #21018b;
  padding: 3rem 0 3rem 5rem;
}

footer p {
  color: #fff;
  line-height: 1.5rem;
}

footer p:first-child {
  margin-top: 2rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer img {
  margin-top: 1rem;
  margin-right: 1rem;
}


/*Card styles*/

.card {
  border-width: 2px;
  border-style: dotted;
  border-color: #3a32f9;
  position: relative;
}

.card-pad {
  padding: 1rem;
}

.card-pad-ext {
  padding: 1rem 1rem 1rem 0;
}

.card-pad button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}


.card-image {
  display: inline-block;
  width: 100%;
  height: 11rem;
  overflow-y: hidden;
  overflow-x: hidden;
}


/* General styles */

* {
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Custom re-usable styles */

div.content {
  display: block;
  margin: auto;
  width: 85%;
}

.block {
  display: block;
  margin: auto;
  content: "";
  width: auto;
}

.button-link {
  background-color: #2b00f7;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 14px 14px;
}


/* Responsive Grid Styles */

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
}
@media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}
@media only screen and (min-width: 1300px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* Custom breakpoints */

@media only screen and (max-width: 1160px) {
  div.explore-card {
    width: 100%;
  }
  .proyecto-info {
    position: relative;
  }
  .proyecto button {
    width: 100%;
    bottom: 0;
    right: 0;
  }
}

@media only screen and (max-width: 1042px) {
  input[type=text].landing-search-inputtext {
    width: 70%;
  }
  input[type=submit].landing-search-inputtext {
    width: auto;
  }
  div.explore-card {
    height: 14rem;
  }
  .card-image {
    display: none;
  }
  .contacto button {
    margin-left: auto;
  }
  .explore-card button {
    width: 85%;
  }

  .investigaciones .card p {
    font-size: 1.2rem;
  }
}


@media only screen and (max-width: 870px) {
  .explore-card.button-link {
    padding: 9px;
    font-size: .7rem;
  }
  div.landing-header-content {
    /*padding: 4rem;*/
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .explore-card.button-link {
    color: #2b00f7;
    background-color: #fff;
  }

  div.investigaciones-card {
    height: 14rem;
  }

}


@media only screen and (max-width: 768px) {
  .explore-card.button-link {
    color: #fff;
    background-color: #2b00f7;
    padding: 14px 14px;
    font-size: .9rem;
  }
  div.proyecto img {
    width: 15rem;
    display: block;
    margin: auto;
  }

  .explore-card {
    height: 10rem;
  }
  .explore-card button {
    width: auto;
  }
  .card-pad {
    padding: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  div.content {
    width: 95%;
  }
  div.card-pad h3 {
    font-size: 2rem;
    -webkit-margin-before: .2rem;
    -webkit-margin-after: .2rem;
  }
  div.investigaciones-card {
    height: 10rem;
  }

  div.landing-header-content {
    padding: 0;
  }
  img.name {
    width: 100%;
    margin-left: 0;
  }

}
